# App Setup
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Neon Serverless Postgres Database (Drizzle ORM)
DATABASE_URL=

# Clerk Authentication (SaaS Hosted Auth)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

GOOGLE_CLOUD_GEMINI_API_KEY=